    <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="~\Content\bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/portal.css")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <style>
        .navigation {
            float: right;
            display: block;
            margin: 5px 150px 0 0;
            
        }
        .nav-item .nav-link {
            background-color: steelblue;
            border: 3px solid;
            border-color: blanchedalmond;
            color: blanchedalmond;
            font-weight: 500;
            font-size: 20px;
        }

    </style>
</head>
<body>
    <div>

        <div class="app-sidepanel"style="background-color: steelblue; ">
            <div class="app-branding" >
                <a href="@Url.Action("Index","Admin")">
                    <img class="logo-icon me-2" src="~/Images/Logo1.png" alt="logo" style="width:100%;">
                </a>
            </div>
            <div class="sidepanel-drop"></div>
            <div class="sidepanel-inner d-flex flex-column">
                <nav class="app-nav app-nav-main flex-grow-1" , style="background-color: steelblue; border-top: 3px solid; border-color: blanchedalmond; ">
                    <ul class="app-menu list-unstyled ">
                        @if (Session["Admin"] != null)
                        {
                            <li class="nav-item " style="color: white;">
                                <ul class="nav-link dropdown-toggle " data-bs-toggle="dropdown">@Session["AdminName"]</ul>
                                <ul class="dropdown-menu text-white" style="background-color: steelblue; color: white ">
                                    <li><a class="dropdown-item" href="~/Admin/Logout">Đăng xuất</a></li>
                                </ul>
                            </li>

                        }
                        <li class="nav-item" >
                            <a class="nav-link" href="@Url.Action("Index","Category")">
                                <span class="nav-link-text">Danh mục sách</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Publisher")">
                                <span class="nav-link-text">Nhà xuất bản</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Author")">
                                <span class="nav-link-text">Tác giả</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Book")">
                                <span class="nav-link-text">Sách</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Customer")">
                                <span class="nav-link-text">Tài khoản</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","DONHANGs")">
                                <span class="nav-link-text">Đơn hàng</span>
                            </a>
                        </li>
                        <li class="nav-item" style="border-bottom: 3px solid; border-color: blanchedalmond; ">
                            <a class="nav-link" href="@Url.Action("ThongKe","Admin")">
                                <span class="nav-link-text">Thông kê</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="app-wrapper" , style="background-color: white; margin-top: -15px; height: 905px">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
