@model IEnumerable<MiniBook.Models.NXB>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Danh sách nhà xuất bản</h2>
<hr />
<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-outline-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Tên nhà xuất bản
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Mail
        </th>
        <th>
            Địa chỉ
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.IDNXB }, new { @class = "btn btn-outline-warning" }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.IDNXB }, new { @class = "btn btn-outline-info" }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.IDNXB }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }

</table>
