@model MiniBook.Models.KHACHHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Xóa tài khoản</h2>

<h3>Bạn có chắc muốn xóa tài khoản này?</h3>
<hr />
<div>
    <div class="dl-horizontal">
        <div class="row">
            <div class="col-md-3 row-title">
                Tên khách hàng:
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.Ten)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 row-title">
                Địa chỉ:
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.DiaChi)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 row-title">
                Số điện thoại:
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.SDT)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 row-title">
                Mail:
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.Mail)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 row-title">
                Tên đăng nhập:
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.TenDangNhap)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 row-title">
                Mật khẩu:
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.MatKhau)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 row-title">
                Ngày sinh:
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.NgaySinh)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 row-title">
                Giới tính:
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.GioiTinh)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 row-title">
                Xác thực:
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.XacThuc)
            </div>
        </div>

    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align:center; padding-top: 20px">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-outline-secondary" })
        </div>
    }
</div>
