@model MiniBook.Models.KHACHHANG

@{
    ViewBag.Title = "Chỉnh sửa thông tin";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Chỉnh sửa thông tin tài khoản</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IDKhachHang)

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "col-md-4 col-form-label text-md-right" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "col-md-4 col-form-label text-md-right" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "col-md-4 col-form-label text-md-right" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "col-md-4 col-form-label text-md-right" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-8 offset-md-4">
                            <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
