@model MiniBook.Models.TACGIA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Thông tin tác giả</h2>
<hr />
<div>
    <div class="dl-horizontal">
        <div class="row">
            <div class="col-md-3 row-title">
                Tên tác giả:
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.Ten)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 row-title">
                Địa chỉ:
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.DiaChi)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 row-title">
                Mail:
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.Mail)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 row-title">
                Giới thiệu:
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.GioiThieu)
            </div>
        </div>

    </div>
</div>
<p style="text-align:center; padding-top: 20px">
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDTG }, new { @class = "btn btn-outline-warning" }) |
    @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-outline-secondary" })
</p>
